.div1{
   
        height: 100%;
        overflow:hidden;
        position: relative;
        border: 1px solid #ebedf0;
        border-top: 0px;
        border-radius: 2px;
        padding: 48px;
        text-align:center;
        
    }
